    html,
    body {
        height: 100%;
        padding: 0;
        margin: 0;
    }
    
    * {
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        box-sizing: border-box;
    }
    
    h3 {
        color: #e5e5e5;
        font-size: 1.35rem;
        font-weight: 600;
    }
    
    h4 {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .category a {
        text-decoration: none;
    }
    
    a h3:hover {
        color: #fff;
    }
    /* Div Wrapper header.php*/
    
    .wrapper {
        /* min-width: 65.625rem; */
        min-width: 55rem;
        min-height: 100%;
        background-color: #000;
    }
    
    .signInContainer {
        background-color: #efefee;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .column {
        background-color: #fff;
        min-height: 300px;
        max-height: 100%;
        width: 450px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
        padding: 20px 35px;
        overflow-y: auto;
    }
    
    .column form {
        display: flex;
        flex-direction: column;
        padding-top: 1.25rem;
    }
    
    .column form input[type="text"],
    .column form input[type="email"],
    .column form input[type="password"] {
        font-size: 14px;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid #dedede;
    }
    
    .column form input[type="submit"] {
        color: #fff;
        height: 36px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    
    .column .header {
        padding: 20px 0;
    }
    
    .column h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        margin: 0;
        padding-top: 16px;
        color: #000;
    }
    
    .column .header span {
        font-size: 14px;
    }
    
    .column .header {
        width: 40%;
    }
    
    .signInMessage {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
    }
    
    img {
        margin-left: -10px;
        width: 140%;
    }
    
    .errorMessage {
        color: red;
        font-size: 1rem;
        font-weight: 400;
    }
    /*  */
    /* preview video and images */
    
    .previewImage,
    .previewVideo {
        width: 100%;
    }
    /*  */
    /* Preview container */
    
    .previewContainer {
        position: relative;
        display: flex;
    }
    
    .previewContainer.small {
        width: 14.4rem;
        height: 8.125rem;
        margin: 0.15rem 0.25rem;
        display: inline-flex;
    }
    
    .previewContainer.small img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
    
    .previewOverlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.25);
        position: absolute;
        color: white;
    }
    
    .previewOverlay .mainDetails h3 {
        color: white;
        font-size: 2.5rem;
        margin: 1.25rem 0.5rem;
        font-weight: 600;
    }
    
    .mainDetails {
        position: relative;
        top: 35%;
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        color: white;
    }
    
    .mainDetails button {
        background-color: rgba(51, 51, 51, 0.025);
        color: white;
        border: none;
        font-weight: 400;
        padding: 0.5rem 2.5rem;
        font-size: 1.35rem;
        border-radius: 4px;
        margin-right: 0.15rem;
        margin-bottom: 1.5rem;
        margin-left: 0.25rem;
    }
    
    button i {
        color: inherit;
    }
    
    .category {
        display: flex;
        flex-direction: column;
        padding: 0.7rem 0;
    }
    
    .entities,
    .videos {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    /* Scrollbars */
    
    .scrollbars_none::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: hidden;
    }
    
    .previewCategories {
        padding: 0 2.5rem;
    }
    
    .errorBanner {
        color: #fff;
        position: absolute;
        top: 35%;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    
    .season {
        display: flex;
        flex-direction: column;
        padding: 0.5rem 2.5rem;
    }
    
    .episodeContainer {
        display: inline-flex;
        justify-content: center;
        margin-right: 0.7rem;
    }
    
    .episodeContainer .contents {
        display: flex;
        flex-direction: column;
        width: 14.4rem;
    }
    
    .episodeContainer img {
        width: 14.4rem;
        height: 8.125rem;
        object-fit: cover;
        border-radius: 5px;
        margin: 0.5rem 0;
    }
    
    .episodeContainer .videoInfo,
    h4,
    .episodeContainer .videoInfo,
    span {
        color: #fff;
        width: 100%;
        white-space: normal;
    }
    
    .episodeContainer .videoInfo {
        max-height: 11rem;
        overflow-y: auto;
    }
    
    .episodeContainer .videoInfo::-webkit-scrollbar {
        display: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .watchContainer video {
        width: 100%;
    }
    
    video {
        object-fit: fill;
    }
    
    .videoControls {
        position: absolute;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: center;
        background-color: rgba(51, 51, 51, 0.025);
    }
    
    .videoControls h1 {
        color: #fff;
    }
    
    .videoControls button {
        font-size: 3.5rem;
        padding: 3.5rem;
        color: #fff;
        background-color: transparent;
        border: none;
    }